.book-details-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.book-details-modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 400px; /* adjust width as needed */
  text-align: left;
}

.book-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.book-details-title {
  margin: 0;
  padding-right: 20px;
}

.book-details-close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: red;
  margin-left: 60px;
}

.book-details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-details-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px
}

.book-details-text {
  width: 100%;
  text-align: center;
}