/* Change the background and text color of the entire calendar */
.react-calendar {
  background: white;
  color: #333;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

/* Style the month navigation */
.react-calendar__navigation button {
  background: #f0f0f0;
  color: #333;
}

/* Hover state for buttons */
.react-calendar__navigation button:hover {
  background: #e0e0e0;
}

/* Style for the month and year in the navigation bar */
.react-calendar__navigation .react-calendar__label {
  font-weight: bold;
  color: #333;
}

/* Style for the days of the week */
.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}

/* Style for each day in the month */
.react-calendar__month-view__days__day {
  color: #333;
}

/* Style for the active day */
.react-calendar__month-view__days__day--active {
  background: #009fdf;
  color: white;
}

/* Style for today */
.react-calendar__tile--now {
  background: #fff0f0;
  color: #333;
  font-weight: bold;
}

/* Style for the weekend days */
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

/* Hover state for each day */
.react-calendar__month-view__days__day:hover {
  background: #e6f7ff;
}
